<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:query {"queryId":55,"query":{"perPage":10,"pages":0,"offset":0,"postType":"school_students","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[]},"namespace":"advanced-query-loop","metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-query"><!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false} /-->

<!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|hover"}}}},"textColor":"hover"} /-->

<!-- wp:post-featured-image {"sizeSlug":"400x600"} /-->

<!-- wp:post-terms {"term":"school-student-role","prefix":"Specialty: ","style":{"elements":{"link":{"color":{"text":"var:preset|color|hover"}}}}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->